<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>person_index</title>
</head>
<body>
  欢迎你[[${userName}]]

  <br/><br/><br/><br/><br/><br/><br/>
  <form action="showFreeLockerUnit" method="post">
      <h3>我要借柜子</h3>
      <input type="submit" value="showFreeLockerUnit" name="showFreeLockerUnit"/>
  </form>

  <br/><br/><br/><br/><br/><br/><br/>
  <form action="showMyLent" method="post">
      <h3>我要还柜子</h3>
      <input type="submit" value="return" name="return"/>
  </form>

</body>
</html>