<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理员工管理页面</title>
    <script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="js/administrator.js"></script>
</head>
<body>
<button id="printstaff">查看员工信息</button>
<button id="closestaff">关闭员工信息</button>
<button id="updatestaff">修改员工信息</button>
<button id="insertstaff">新增员工信息</button>
<button id="deletestaff">删除员工信息</button>
<div id="StaffInfoDiv">

</div>

<div id="updateStaffInfoDiv">
    <table border='0'>
        <tr>
            <td>员工工号</td>
            <td><input name='staffId'></td>
            <td>员工姓名</td>
            <td><input name='staffName'></td>
            <td>员工密码</td>
            <td><input name='password'></td>
            <td>员工权限</td>
            <td><select name="permission">
                <option value ="1">配送员</option>
                <option value ="2">员工</option>
                <option value="3">系统管理员</option>
                </select>
            </td>
            <td><button id="cancelupdate">取消修改</button>            <button id="submitupdate">提交修改</button></td>
        </tr>
    </table>
</div>

<div id="insertStaffInfoDiv">
    <table border='0'>
        <tr>
            <td>员工工号</td>
            <td><input name='staffId0'></td>
            <td>员工姓名</td>
            <td><input name='staffName0'></td>
            <td>员工密码</td>
            <td><input name='password0'></td>
            <td>员工权限</td>
            <td><select name="permission">
                <option value ="1">配送员</option>
                <option value ="2">员工</option>
                <option value="3">系统管理员</option>
            </select>
            </td>
            <td><button id="cancelinsert">取消新增</button>            <button id="submitinsert">提交新增</button></td>
        </tr>
    </table>
</div>

<div id="deleteStaffInfoDiv">
    <table border='0'>
    <tr>
        <td>员工工号</td>
        <td><input name='staffId1'></td>
        <td><button id="canceldelete">取消删除</button>            <button id="submitdelete">提交删除</button></td>
    </tr>
    </table>
</div>
</body>
</html>